{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "only-multiline"],
    "quote-props": ["error", "as-needed"],
    "no-extra-parens": ["error", "all"],
    "no-template-curly-in-string": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/no-children-prop": "off",
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
